header .title {
	padding-top: 150px;
	font-family: 'Courgette', 'cursive';
	font-size: 120px;
}

form {
	padding-top: 50px;
	width: 70%;
	margin: auto;
	font-size: 40px;
}

body {
	font-family: 'PT Sans';
}

.group {
	margin-top: 30px;
}

.title-lg {
	font-size: 2rem !important;
}

.sign-up-btn {
	cursor: pointer;
}

.full-width {
  width: 100%;
}

.dropdown-menu a.on-hover:hover {
  background: #AEAEAE !important;
  color: #FEFEFE !important;
}

.top-30 {
  top: 30%;
}

.modal-content-pad {
  padding: 10px 20px;
}

.no-deco {
  text-decoration: inherit;
  color: inherit;
}

.checked {
	color: orange;
}