<!DOCTYPE html>
<head>
	<title>SwiftyQ</title>

	<meta name="apple-mobile-web-app-capable" content="yes" /> <!-- iOS fullscreen webapp -->
	<meta name="mobile-web-app-capable" content="yes" /> <!-- Android Chrome fullscreen webapp -->
	<link rel="stylesheet" type="text/css" href='./static/css/achievement.css' />
	<link rel="stylesheet" type="text/css" href='./static/css/achievement_pop_up.css' />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src='./static/js/achievement.js'></script>
	<script>
	var grid_colors = ["#eeeeee",
	"#75d5ff",]
	$(document).ready(function(){

	for(var i=0; i<2; i++){
		$("#achievement_grid_box").append("<div id='grid_row_"+i.toString()+"' class='grid_row row'></div>")
		for(var j=0; j<10; j++){

			$("#grid_row_"+i.toString()).append("<div id='grid_"+i.toString()+"_"+j.toString()+"' class='col-sm grid'></div>")
			var rand = Math.floor(Math.random()*3)
			//var rand2 = Math.floor(Math.random()*100000)+100000
			//https://d30y9cdsu7xlg0.cloudfront.net/png/149821-200.png
			$("#grid_"+i.toString()+"_"+j.toString()).append("<img class='grid_img' src='static/achievement/icon/"+(i*10+j).toString()+".png' width='0' height='0'></img>")
		}
	}
	{% for a in achievements %}
		console.log('{{a[3]}}')
		console.log('{{loop.index0%10}}')
		$("#grid_"+parseInt('{{(loop.index0/10)|round(0,"floor")}}').toString()+"_"+'{{loop.index0%10}}').css("background-color", grid_colors['{{a[3]}}'])
	{% endfor %}
	$(".grid").outerHeight(function(){
		var height = $(this).width();
		var oh = $(this).outerWidth();
		//console.log($(this).outerWidth())
		$(".grid_img").outerWidth(height).outerHeight(height).css("margin-top", function(){
			return (oh-height)/2;
		});

		return $(this).outerWidth();
	})

	{% set j = 0%}
	{% for non_a in non_achieved %}

		$("#achievement_list_sub_box").append("<div id='list_"+'{{loop.index0}}'+"' class='achievement_entity_box row'>");
		$("#list_"+'{{loop.index0}}').append("<div class='col-md-2'></div><div id='list_sub_"+'{{loop.index0}}'+"' class='achievement_entity_sub_box col-md-10 row'></div>")
		$("#list_sub_"+'{{loop.index0}}').append("<div id='list_image_"+'{{loop.index0}}'+"' class='achievement_entity_image col-md-3'>")
		.append("<div id='list_content_"+'{{loop.index0}}'+"' class='achievement_entity_exp col-md-9'>")
		$("#list_image_"+'{{loop.index0}}').append("<div id='list_image_sub_"+'{{loop.index0}}'+"' class='achievement_entity_sub_image'></div>")
		$("#list_content_"+'{{loop.index0}}').append("<div id='list_content_head_"+'{{loop.index0}}'+"' class='achievement_entity_head'></div>")
		.append("<div id='list_content_text_"+'{{loop.index0}}'+"' class='achievement_entity_text'></div>")
		$("#list_content_head_"+'{{loop.index0}}').text('{{non_a["title"]}}');
		$("#list_content_text_"+'{{loop.index0}}').text('{{non_a["content"]}}');

		//https://d30y9cdsu7xlg0.cloudfront.net/png/149821-200.png
		$("#list_image_sub_"+'{{loop.index0}}').append("<img class='list_img' src='static/achievement/icon/"+'{{non_a["num"]}}'+".png' width='0' height='0'></img>")
		{% set j = j+1 %}
	{% endfor %}

	$("#list_sub_0").css("border-top-left-radius", "30px")
	.css("border-top-right-radius", "30px");

	$('.achievement_entity_image').outerHeight(function(){
		return $(this).outerWidth();
	})
	$('.achievement_entity_sub_image').outerHeight(function(){
		var height = $(this).width();
		var oh = $(this).outerWidth();
		//console.log($(this).outerWidth())
		$(".list_img").outerWidth(height).outerHeight(height).css("margin-top", function(){
			return (oh-height)/2;
		});
		return $(this).outerWidth();
	})
})


	</script>
	<script type="text/javascript" src='./static/js/jquery.csv.js'></script>
	<script type="text/javascript" src='./static/js/achievement_pop_up.js'></script>
	<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>
<body id="body_achievement">
	<html id="html_achievement">

	<div class = "container" style= "margin-top: 10px">
		<div class = "row" style = "height: 72px">
    <div class = "col-2">
        <div class="dropdown" style = "width: 500px">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "padding: 0px 0px; margin: 0px 0px; border: none; width: 72px; height: 72px; border-radius: 2000px; background-color: red;">
              <div id = "text-center onboard"> <font size="+10" style = "color: white">{{rtable|length}}</font></div>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							{% for item in rtable %}
              	<a class="dropdown-item select_requester" data-toggle = "modal" data-target="#previewtask{{loop.index0}}" val='{{loop.index0}}' val2='{{item[1]}}'>{{item[3]}}</a>
              {% endfor %}
            </div>
        </div>
      </div>
      <div class = "text-center col-8" style = "margin-top: 5px">
        <h1>Achievements</h1>
      </div>
      <div class = "img-circle col">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "padding: 0px 0px; margin: 0px 0px; border: none; width: 72px; height: 72px; border-radius: 2000px;">
              <img
              {% if img == 0 %}
                src = "static/img/default.jpg"
              {% endif %}
              {% if img == 1 %}
                src = "static/propic/{{user_id}}.png"
              {% endif %}
                  style = "width:70px; height: 70px; border-radius: 2000px; border-color: gainsboro">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="{{ url_for('inbox', user_id=user_id)}}">Achievements</a>
              <a class="dropdown-item" href="/">Logout</a>
            </div>
        </div>
      </div>
	</div>

		<div id="content" class="container-fluid">
			<div id="achievement_vis" class="container-fluid">
				<div id="achievement_title" class="row">
					<h id="achievement_title_text" class="achievement_head">Achieved {{achieve_num}} achievements among 20!</h>
				</div>
				<div id="achievement_grid_box" class="container-fluid">
				</div>
			</div>
			<div id="achievement_list_box">
				<div id="achievement_list_title">
					<h class="achievement_head">Achievements waiting for you!</h>
				</div>
				<div id="achievement_list_sub_box" class="container-fluid">

				</div>
			</div>
		</div>


		{% for item in rtable %}
		<div class="modal fade" id="previewtask{{loop.index0}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style= "padding-top:500px">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <strong><h5 class="modal-title" id="exampleModalLabel">Preview Task</h5></strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="previewtask_content" class="modal-body">
         {{item[1]}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-secondary"><a href="chat?user_id={{user_id}}&respondent={{item[3]}}" style="text-decoration: none; color:inherit;">Reply</a></button>
      </div>
      </div>
    </div>
    </div>

		{% endfor %}
	</html>
</body>
