<!DOCTYPE html>
<head>
	<title>SwiftyQ</title>
	<meta name="apple-mobile-web-app-capable" content="yes" /> <!-- iOS fullscreen webapp -->
	<meta name="mobile-web-app-capable" content="yes" /> <!-- Android Chrome fullscreen webapp -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  
  <!-- Importing fonts -->
  <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

  <link rel="stylesheet" href="./static/css/inbox.css">
  <link rel = "stylesheet" href = "./static/css/chat.css">
  <!-- https://lipis.github.io/bootstrap-social/ -->
  <link rel="stylesheet" href="./static/css/bootstrap-social.css">
  <script src="https://use.fontawesome.com/6384f656d9.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body style="height:100%; width: 100%;">

  <form class="photorequest" action="{{ url_for('chat')}}" method="post" enctype="multipart/form-data">
<div id="myModal" class="modal in" role="dialog" style = "padding-top:500px">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style = "background-color: gainsboro">
      <div class="modal-header">
        <h4 class="modal-title">Understood?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
       Hi
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" style = "background-color: white; color: black; border-width: 1px">Take a Quiz</button>
        <a href= "{{url_for('inbox')}}"><button type="button" class="btn btn-default" data-dismiss="modal" style = "background-color: white; color: black; border-width: 1px">I'm Good</button></a>
      </div>
    </div>

  </div>
</div>
</form>

  <div id="header text-center" style="height: 200px; width:100%; padding-top: 80px; padding-bottom: 80px">
    <h1 class="text-center" id="user_id" >
      {% if requester %}
        {{user_id}}
      {% else %}
        {{respondent}}
      {% endif %}
    </h1>
    <div class="text-center"><div class = "onlinecircle text-center" style="display: inline-block;"></div><span style="font-size: 25px;">&nbsp&nbsponline</span></div>
  </div>
  <div class="w-100" style="position: relative; top: 10px; height: 5px; background-color: #eee;"></div>
  <div class="container" id="messages" style = "height: 1242px; margin-top: 20px; overflow: scroll">
  </div>
  
  <div id="footer" style = "height: 250px;">
     <div class="w-100" style="height: 2px; background-color: #eee;"></div>
     <div class="row" style = "height: 100%">
      <div class = "col-9">
        <textarea id="user_msg" placeholder=" Type something.." style="font-size: 30px; width:100%; height: 100%; margin-top: 5px; bottom: 2px; border: 1.1px solid; margin: 10px;"></textarea>
      </div>
      <div class = "col-3">
        <div id="send_button" class="btn btn-dark" style="font-size: 30px; width: 100%; margin: 130px 0;">
          Send
        </div>
      </div>
    </div> 
    </div>
</body>
<script type="text/javascript">
  var username = $("#user_id").text();
  console.log(username);
  $(document).ready(function(){
    var sock = io.connect('/chat');
    sock.on('connect', function(){
      var connect_string = 'new_connect';
      sock.send(connect_string,username);
    });

    sock.on('hello', function(msg){
      $('#messages').append('<li>' +'>>Hello :'+ msg + '</li>');
      console.log('Received Hello Message');
    });

    sock.on('message', function(msg){
      // console.log(type(msg));
      console.log(msg);
      if(msg.type === 'normal'){
        if (msg.username == username) {
          $('#messages').append('<div class="container darker" id="msgs" style = "width: 100%; margin-left: 20%; color: white"><img src="./static/img/avatar_g2.jpg" alt="Avatar" class="right"><p id="msg_text">'+msg.message+'</p><span class="time-left" style = "color: gainsboro">'+msg.time+'</span></div>')
        }else {
          $("#messages").append('<div class="container" id="msgs" style = "width: 80%; margin-left: 2%;"><div class="col-2"><img src="/w3images/bandmember.jpg" alt="Avatar"></div><div class="col-9"><p id="msg_text">'+msg.message+'</p>{% if requester %}<button type="button" style = "background-color: green; color: white" data-toggle="modal" data-target="#myModal">Understood</button>{% endif %}<span class="time-right">11:00</span></div></div>')
        }
      }else{
        if (msg.username != username) {
          console.log(msg.username,username);
          $('#messages').append('<li>' + msg.message + '</li>');
        }
      }
      console.log('Received Message : '+msg.type);
    });

    $('#sendbutton').on('click', function(){
      sock.send($('#user_msg').val(),username);
      $('#user_msg').val('');
    });
    $(document).keypress(function(e) {
        if(e.which == 13) {
          if ($("#user_msg").is(":focus")) {
            sock.send($('#user_msg').val(),username);
          $('#user_msg').val('');
          }
        }
    });
  });
</script>
