<!DOCTYPE html>
<head>
	<title>SwiftyQ</title>
	<meta name="apple-mobile-web-app-capable" content="yes" /> <!-- iOS fullscreen webapp -->
	<meta name="mobile-web-app-capable" content="yes" /> <!-- Android Chrome fullscreen webapp -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link rel="stylesheet" href="./static/css/inbox.css">
</head>

<body>
	<html>

	<div class = "container" style= "margin-top: 10px">
		<div class = "row" style = "height: 72px">
    <div class = "col-2">
        <div class="dropdown" style = "width: 500px">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "padding: 0px 0px; margin: 0px 0px; border: none; width: 72px; height: 72px; border-radius: 2000px; background-color: red;">
              <div id = "text-center onboard"> <font size="+10" style = "color: white">{{count}}</font></div>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							{% for item in rtable %}
              	<a class="dropdown-item select_requester" data-toggle = "modal" data-target="#previewtask" val='{{loop.index0}}' val2='{{item[1]}}'>{{item[3]}}</a>
              {% endfor %}
            </div>
        </div>
      </div>
      <div class = "text-center col-8" style = "margin-top: 5px">
        <h1>Task Inbox</h1>
      </div>
      <div class = "img-circle col">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "padding: 0px 0px; margin: 0px 0px; border: none; width: 72px; height: 72px; border-radius: 2000px;">
              <img src="static/img/annie.png"
                  style = "width:70px; height: 70px; border-radius: 2000px; border-color: gainsboro">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="achievement">Achievements</a>
              <a class="dropdown-item" href="/">Logout</a>
            </div>
        </div>
      </div>
	</div>
  <div class="w-100" style="margin-top: 2px; padding: 1px; background-color: #eee;"></div>
  <div class="container" style="margin-top:20px; margin-bottom: 20px;">
  	<div class = "img-circle text-center profile" style = "padding-top: 10px">
  		<img
  			src = "static/img/annie.png"
  			alt= "John"
  			style = "width:200px; height: 200px; border-radius: 1000px; border-style: solid;border-color: gainsboro;" >
  		<h1>{{user_id}}</h1>
  	</div>
    <div class="text-center" style="width:30%; margin: auto;">
      <div class="btn btn-primary btn-lg" style="width: 100%">
        <a class="no-deco" href="{{ url_for('request_page', user_id = user_id)}}" style = "font-size: 25px">Send Request</a>
      </div>
    </div>
  </div>
	<span class= "row" style = "margin-left: 70px; margin-top: 30px; font-size: 20px"> Expertise: </span>
	<div class = "container" style= "margin-top: 3px; margin-left:50px; width: 120%">
		<div class = "row">
			<div class = "col-9">
				<div class="dropdown" style = "width: 500px">
  					<button class="btn btn-secondary dropdown-toggle btn-expertise" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "width: 300px; font-size: 20px">
   		 				<span style = "font-size: 20px">{{expertise}}</span>
  					</button>
  					<div id="expertise_selection" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
   			 			<a class="dropdown-item expertise-item" href="#">Chemistry</a>
    		 			<a class="dropdown-item expertise-item" href="#">Math</a>
   			 			<a class="dropdown-item expertise-item" href="#">Physics</a>
              <a class="dropdown-item expertise-item" href="#">Programming</a>
  					</div>
				</div>
			</div>
			<div class = "col">
				<div class = "row">
					<button class = "roundbutton"> </button>
					 <div class = "text" style= " padding-left: 5px; width: 5px;  font-weight: bold">Unanswered</div>
				</div>
				<div class = "row" style = "margin-top: 3px">
					<button class = "roundbutton"> </button>
					<div class = "text" style= " padding-left: 5px; width: 5px">Latest</div>
				</div>
			</div>
		</div>
	</div>
		<div class = "col">
	{% for item in rtable %}
	  <div class="requester_box" style= "margin-top: 10px; width: inherit;" val='{{item[4]}}'>
      <div class="w-100" style="margin-top: 15px; padding: 1px; background-color: #eee; width: 103%" ></div>
  		<div class ="row">
    		<div class="img-circle col" style = "margin-top: 10px; margin-left: 30px">
      			<img
					src = "static/img/compgeek.jpg"
					alt = "chembee"
					style = "width: 120px; height: 120px;  border-radius: 1000px; border-style: solid; border-color: black"
				>
			</div>
      <div class="col-9 respondent">
      		<div class = "row" style = "width: 30px">
      			<span style="font-weight:bold; font-size:30px">{{item[3]}}</span>
      		</div>
      		<div class = "row" style= "width: 450px; padding-left: 50px; overflow: hidden; text-overflow: ellipsis; white-space:nowrap; display: inline-block; font-size: 20px">
      			 {{item[1]}}
          </div>
      		<div class = "row" style= "margin-top: 25px">
      		<div class = "col-4" style = "padding-top: 10px"></div>
      		  <button class = "select_requester col btn btn-success" style = "border-radius: 50px; font-size: 20px" data-toggle="modal" data-target="#previewtask" val='{{loop.index0}}' val2='{{item[1]}}'>
      				Preview Task
      		  </button>
      		  <button class = "col btn btn-success" style = "border-radius: 50px; margin-left: 5px" href="chat">
      		  <a href="chat?user_id={{user_id}}&respondent={{item[3]}}" style="text-decoration: none; color:inherit; font-size: 20px">Reply</a>
      		  </button>
      		</div>
    	</div>
  		</div>
  	</div>
    <div class="modal fade" id="previewtask" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style= "padding-top:500px">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <strong><h5 class="modal-title" id="exampleModalLabel">Preview Task</h5></strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="previewtask_content" class="modal-body">
         {{item[1]}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-secondary"><a href="{{ url_for('request_page', user_id = user_id)}}" style="text-decoration: none; color:inherit;">Reply</a></button>
      </div>
      </div>
    </div>
    </div>
    {% endfor %}
  </html>
</body>

<script src="./static/js/inbox.js"></script>
