<!DOCTYPE html>
<head>
	<title>SwiftyQ</title>
	<meta name="apple-mobile-web-app-capable" content="yes" /> <!-- iOS fullscreen webapp -->
	<meta name="mobile-web-app-capable" content="yes" /> <!-- Android Chrome fullscreen webapp -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link rel="stylesheet" href="./static/css/inbox.css">
  <link rel="stylesheet" href="../static/css/fileinput.css">
	<link rel="stylesheet" type="text/css" href='./static/css/achievement_pop_up.css' />
	<link rel="stylesheet" type="text/css" href='./static/css/achievement.css' />
  <script src="../static/js/plugins/sortable.js" type="text/javascript"></script>
  <script src="../static/js/fileinput.js"></script>
  <script src="../static/themes/explorer-fa/theme.js" type="text/javascript"></script>
  <script src="../static/themes/fa/theme.js" type="text/javascript"></script>



</head>

<body>
	<html>
	<script>

	achievement_pop_up = function(title, content){
	  $('body').prepend("<div id='achievement_pop_up_container' class='col-md-12'></div>").prepend('<div id="achievement_pop_up_overlay"></div>')
		{% if achievements is not none %}
			{% for achievement in achievements%}
		$('#achievement_pop_up_container').append("<div id='list_pop_up_{{loop.index0}}' class='achievement_entity_box row'>");
	  $("#list_pop_up_{{loop.index0}}").append("<div class='col-md-2'></div><div id='list_sub_pop_up_{{loop.index0}}' style='border-radius: 20px' class='achievement_entity_sub_box col-md-10 row'></div>")
	  $("#list_sub_pop_up_{{loop.index0}}").append("<div id='list_image_pop_up_{{loop.index0}}' class='achievement_entity_image col-md-3'>")
	  .append("<div id='list_content_pop_up_{{loop.index0}}' class='achievement_entity_exp col-md-9'>")
	  $("#list_image_pop_up_{{loop.index0}}").append("<div id='list_image_sub_pop_up_{{loop.index0}}' class='achievement_entity_sub_image'></div>")
	  $("#list_content_pop_up_{{loop.index0}}").append("<div id='list_content_head_pop_up_{{loop.index0}}' class='achievement_entity_head'></div>")
	  .append("<div id='list_content_text_pop_up_{{loop.index0}}' class='achievement_entity_text'></div>")
	  $("#list_content_head_pop_up_{{loop.index0}}").text('{{achievement["title"]}}');
	  $("#list_content_text_pop_up_{{loop.index0}}").text('{{achievement["content"]}}');
			{% endfor %}
		{% endif %}
	  $("#achievement_pop_up_container").prepend("<div id='achievement_title_pop_up' class='achievement_head'></div>").append("<div id='achievement_orna_1'></div>")
	  $("#achievement_title_pop_up").text("You made an achievement!")
	  $("#list_content_pop_up_{{achievements|length-1}}").append("<button id='close_achievement' class='btn btn-success'>Yay!</button>")
	  var rand2 = Math.floor(Math.random()*20)
	  //https://d30y9cdsu7xlg0.cloudfront.net/png/149821-200.png
	  {% for achievement in achievements %}
		$("#list_image_sub_pop_up_{{loop.index0}}").append("<img id='list_pop_img_{{loop.index0}}' class='list_pop_img' src='static/achievement/icon/{{achievement['num']}}.png' width='0' height='0'></img>")
	  $('#list_image_pop_up_{{loop.index0}}').outerHeight(function(){
	    return $(this).outerWidth();
	  })
	  $('#list_image_sub_pop_up_{{loop.index0}}').outerHeight(function(){
	    var height = $(this).width();
	    var oh = $(this).outerWidth();
	    //console.log($(this).outerWidth())
	    $("#list_pop_img_{{loop.index0}}").outerWidth(height).outerHeight(height).css("margin-top", function(){
	      return (oh-height)/2;
	    });
	    return $(this).outerWidth();
	  })
		{% endfor %}
	  $("#close_achievement").on("click", function(){
	    $("#achievement_pop_up_overlay").remove();
	    $("#achievement_pop_up_container").remove();
	    $("#achievement_pop_up_overlay").remove();
	  })
	}

	</script>

 <form class="photorequest" action="{{ url_for('inbox', type = 'file', user_id=user_id)}}" method="post" enctype="multipart/form-data">
<div id="myModal" class="modal fade" role="dialog" style = "padding-top:500px">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Upload Profile Picture</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
       <div class="form-group">
        <label>Click to upload photo with camera</label>
        <input id="input-b1" name="image" type="file" class="btn btn-lg btn-block title-lg btn-outline-primary" accept="image/*" capture="camera"></input>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</form>

	<div class = "container" style= "margin-top: 10px">
		<div class = "row" style = "height: 72px">
    <div class = "col-2">
        <div class="dropdown" style = "width: 500px">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "padding: 0px 0px; margin: 0px 0px; border: none; width: 72px; height: 72px; border-radius: 2000px; background-color: red;">
              <div id = "text-center onboard"> <font size="+10" style = "color: white">{{rtable|length}}</font></div>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							{% for item in rtable %}
              	<a class="dropdown-item select_requester" data-toggle = "modal" data-target="#previewtask{{loop.index0}}" val='{{loop.index0}}' val2='{{item[1]}}'>{{item[3]}}</a>
              {% endfor %}
            </div>
        </div>
      </div>
      <div class = "text-center col-8" style = "margin-top: 5px">
        <h1>Task Inbox</h1>
      </div>
      <div class = "img-circle col">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "padding: 0px 0px; margin: 0px 0px; border: none; width: 72px; height: 72px; border-radius: 2000px;">
              <img
              {% if img == 0 %}
                src = "static/img/default.jpg"
              {% endif %}
              {% if img == 1 %}
                src = "static/propic/{{user_id}}.png"
              {% endif %}
                  style = "width:70px; height: 70px; border-radius: 2000px; border-color: gainsboro">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="{{ url_for('achievement', user_id = user_id)}}">Achievements</a>
              <a class="dropdown-item" href="/">Logout</a>
            </div>
        </div>
      </div>
	</div>
  <div class="w-100" style="margin-top: 2px; padding: 1px; background-color: #eee;"></div>
  <div class="container" style="margin-top:20px; margin-bottom: 20px;">
  	<div class = "text-center profile" style = "padding-top: 10px">
  		<img
      {% if img == 0 %}
  			src = "static/img/default.jpg"
      {% endif %}
      {% if img == 1 %}
        src = "static/propic/{{user_id}}.png"
      {% endif %}
  			alt= "John"
  			style = "width:200px; height: 200px; border-radius: 1000px; border-style: solid;border-color: gainsboro;" >
  		<h1>{{user_id}}</h1>
      <h4>Your token: <span id="token" style="color: red">{{token}}</span></h4>
  	</div>
    <div class="text-center" style="width:30%; margin: auto;">
      <div class="btn btn-primary btn-lg request-btn" style="width: 100%">
        <a class="no-deco" href="{{ url_for('request_page', user_id = user_id)}}" style = "font-size: 25px">Send Request</a>
      </div>
    </div>
  </div>
	<span class= "row" style = "margin-left: 70px; margin-top: 30px; font-size: 23px"> Expertise: </span>
	<div class = "box" style= "margin-top: 3px; margin-left:50px; width: inherit">
		<div class = "row" style = "width: inherit">
			<div class = "col-7">
				<div class="dropdown" style = "width: 500px">
  					<button class="btn btn-secondary dropdown-toggle btn-expertise" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "width: 300px; font-size: 20px">
   		 				<span id = "expertise_span" style = "font-size: 25px">{{myexpertise[0]}}</span>
							<script>
								$(document).ready(function(){
									var exp = '{{myexpertise[0]}}'
									$(".requester_box").css("display", function(){
										if(!($(this).attr('val')==exp)){
											return "none"
										}
									})
									{% if achievements %}

										achievement_pop_up("yes","good");
									{% endif %}

								})

							</script>
  					</button>
  					<div id="expertise_selection" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% for e in myexpertise %}
                <a class="dropdown-item expertise-item" style = "font-size:25px" href="#">{{e}}</a>
              {% endfor %}
  					</div>
				</div>
			</div>
			<div class = "col-4" style = "margin-left: 8%">
         <button class = "btn btn-success" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style = "background-color: white; border-width: 1px; border-color: black; color: black; font-size: 20px;">
              Upload Profile Picture
            </button>
          </div>
				<div class = "row">
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class = "col">
	{% for item in rtable %}
	  <div class="requester_box" style= "margin-top: 10px; width: inherit;" val='{{item[4]}}'>
      <div class="w-100" style="margin-top: 15px; padding: 1px; background-color: #eee; width: 103%" ></div>
  		<div class ="row">
    		<div class="img-circle col" style = "margin-top: 10px; margin-left: 30px">
      			<img
					{% if req[loop.index0]== 0 %}
            src = "static/img/default.jpg"
          {% endif %}
          {% if req[loop.index0] == 1 %}
            src = "static/propic/{{item[3]}}.png"
          {% endif %}
					alt = "chembee"
					style = "width: 120px; height: 120px;  border-radius: 1000px; border-style: solid; border-color: black"
				>
			</div>
      <div class="col-9 respondent">
      		<div class = "row" style = "width: 30px">
      			<span style="font-weight:bold; font-size:30px">{{item[3]}}</span>
      		</div>
      		<div class = "row" style= "width: 450px; padding-left: 50px; overflow: hidden; text-overflow: ellipsis; white-space:nowrap; display: inline-block; font-size: 20px">
      			 {{item[1]}}
          </div>
      		<div class = "row" style= "margin-top: 25px">
      		<div class = "col-4" style = "padding-top: 10px"></div>
      		  <button class = "select_requester col btn btn-success" style = "border-radius: 50px; font-size: 25px" data-toggle="modal" data-target="#previewtask{{loop.index0}}" val='{{loop.index0}}' val2='{{item[1]}}'>
      				Preview Task
      		  </button>
      		  <button class = "col btn btn-success" style = "border-radius: 50px; margin-left: 5px" href="chat">
      		  <a href="chat?user_id={{user_id}}&respondent={{item[3]}}&request={{item[0]}}" style="text-decoration: none; color:inherit; font-size: 25px">Reply</a>
      		  </button>
      		</div>
    	</div>
  		</div>
  	</div>
		{% endfor %}
		{% for item in rtable %}
    <div class="modal fade" id="previewtask{{loop.index0}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style= "padding-top:500px">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <strong><h5 class="modal-title" id="exampleModalLabel">Preview {{item[3]}} Task</h5></strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="previewtask_content" class="modal-body">
         {{item[1]}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <div type="button" class="btn btn-secondary"><a href="chat?user_id={{user_id}}&respondent={{item[3]}}&request={{item[0]}}" style="text-decoration: none; color:inherit;">Reply</a></div>
      </div>
      </div>
    </div>
    </div>
    {% endfor %}
  </html>
</body>

<script src="./static/js/inbox.js"></script>
<script>
  if (parseInt($("#token").text())<1){
    $(".request-btn").removeClass("btn-primary");
    $(".request-btn").addClass("btn-secondary");
    $(".request-btn").css("pointer-events","none");
    $(".request-btn a").css("pointer-events","none");
  }
</script>
