<!DOCTYPE html>
<head>
	<title>SwiftyQ</title>
	<meta name="apple-mobile-web-app-capable" content="yes" /> <!-- iOS fullscreen webapp -->
	<meta name="mobile-web-app-capable" content="yes" /> <!-- Android Chrome fullscreen webapp -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link rel="stylesheet" href="./static/css/inbox.css">
</head>

<body>
	<html>
  <div class="modal fade" id="previewtask" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style= "padding-top:500px">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <strong><h5 class="modal-title" id="exampleModalLabel">Preview Task</h5></strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-secondary"><a href="chat.html" style="text-decoration: none; color:inherit;">Reply</a></button>
      </div>
    </div>
  </div>
</div>
	<div class = "container" style= "margin-top: 10px">
		<div class = "row" style = "height: 72px">
    <div class = "col-2">
        <div class="dropdown" style = "width: 500px">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "padding: 0px 0px; margin: 0px 0px; border: none; width: 72px; height: 72px; border-radius: 2000px; background-color: red">
              <div id = "text-center onboard"> <font size="+10" style = "color: white">4</font></div>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" data-toggle = "modal" data-target="#previewtask">ChemistryBee</a>
              <a class="dropdown-item" data-toggle = "modal" data-target="#previewtask">ComputerGeek</a>
              <a class="dropdown-item" data-toggle = "modal" data-target="#previewtask">OrchemKing</a>
              <a class="dropdown-item" data-toggle = "modal" data-target="#previewtask">PhizWhiz</a>
            </div>
        </div>
      </div>
      <div class = "text-center col-8" style = "margin-top: 5px">
        <h1>Task Inbox</h1>
      </div>
      <div class = "img-circle col">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "padding: 0px 0px; margin: 0px 0px; border: none; width: 72px; height: 72px; border-radius: 2000px;">
              <img src="static/img/annie.png"
                  style = "width:70px; height: 70px; border-radius: 2000px; border-color: gainsboro">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="achievement.html">Achievements</a>
              <a class="dropdown-item" href="{{ url_for('request_page', user_id = user_id)}}">Request Task</a>
            </div>
        </div>
      </div>
	</div>
  <div class="w-100" style="margin-top: 2px; padding: 1px; background-color: #eee;"></div>
	<div class = "img-circle text-center profile" style = "padding-top: 10px">

		<img
			src = "static/img/{{user_id}}.png"
			alt= "John"
			style = "width:200px; height: 200px; border-radius: 1000px; border-style: solid;border-color: gainsboro;" >
		<h1>{{user_id}}</h1>
	</div>
	<span style = "margin-left: 70px; margin-top: 70px"> Expertise: </span>
	<div class = "container" style= "margin-top: 3px; margin-left:50px">
		<div class = "row">
			<div class = "col-9">
				<div class="dropdown" style = "width: 500px">
  					<button class="btn btn-secondary dropdown-toggle btn-expertise" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "width: 300px">
   		 				<span>{{expertise}}</span>
  					</button>
  					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
   			 			<a class="dropdown-item expertise-item" href="#">Chemistry</a>
    		 			<a class="dropdown-item expertise-item" href="#">Math</a>
   			 			<a class="dropdown-item expertise-item" href="#">Physics</a>
              <a class="dropdown-item expertise-item" href="#">Programming</a>
  					</div>
				</div>
			</div>
			<div class = "col">
				<div class = "row">
					<button class = "roundbutton"> </button>
					 <div class = "text" style= " padding-left: 5px; width: 5px;  font-weight: bold">Unanswered</div>
				</div>
				<div class = "row" style = "margin-top: 3px">
					<button class = "roundbutton"> </button>
					<div class = "text" style= " padding-left: 5px; width: 5px">Latest</div>
				</div>
			</div>
		</div>
	</div>
		<div class = "col">
	<div class="w-100" style="margin-top: 30px; padding: 1px; background-color: #eee;"></div>
	<div class="container" style= "margin-top: 10px">
  		<div class ="row">
    		<div class="img-circle col">
      			<img
					src = "static/img/original.png"
					alt = "chembee"
					style = "width: 120px; height: 120px;  border-radius: 1000px; border-style: solid; border-color: black"
				>
			</div>
    		<div class="col-9 respondent">
      			<div class = "row" style = "width: 30px">
      				<span style="font-weight:bold; font-size:25px">ChemistryBee</span>
      			</div>
      			<div class = "row" style= "padding-left: 50px">
      				Describe three advantages of using tupules instead of other data structu...
      			</div>
      			<div class = "row" style= "margin-top: 8px">
      				<div class = "col-4" style = "padding-top: 5px">
      				</div>
      				<button class = "col btn btn-success" style = "border-radius: 50px" data-toggle="modal" data-target="#previewtask">
      					Preview Task
      				</button>
      				<button class = "col btn btn-success" style = "border-radius: 50px; margin-left: 5px" href="chat.html">
      					<a href="chat?user_id='{{user_id}}" style="text-decoration: none; color:inherit;">Reply</a>
      				</button>
      			</div>
    		</div>
  		</div>
  	</div>
  	<div class="w-100" style="margin-top: 10px; padding: 1px; background-color: #eee;"></div>
  	<div class="container" style = "margin-top: 10px">
  		<div class ="row" style = "margin-top: 8px">
    		<div class="img-circle col">
      			<img
					src = "static/img/compgeek.jpg"
					alt = "chembee"
					style = "width: 120px; height: 120px; border-radius: 1000px; border-style: solid; border-color: black"
				>
			</div>
    		<div class="col-9 respondent">
      			<div class = "row" style = "width: 30px">
      				<span style="font-weight:bold; font-size:25px">ComputerGeek</span>
      			</div>
      			<div class = "row" style= "padding-left: 50px">
      				The carrot.jpg image shows an orange carrot with a blue background...
      			</div>
      			<div class = "row" style = "margin-top: 8px">
      				<div class = "col-4">
      				</div>
      				<button class = "col btn btn-success" style = "border-radius: 50px" data-toggle="modal" data-target="#previewtask">
      					Preview Task
      				</button>
      				<button class = "col btn btn-success" style = "border-radius: 50px; margin-left: 5px">
      					<a href="chat.html" style="text-decoration: none; color:inherit;">Reply</a>
      				</button>
      			</div>
    		</div>
  		</div>
  	</div>
  	<div class="w-100" style="margin-top: 10px; padding: 1px; background-color: #eee;"></div>
  	<div class="container" style = "margin-top: 10px">
  		<div class ="row">
    		<div class="img-circle col">
      			<img
					src = "static/img/orchking.jpg"
					alt = "chembee"
					style = "width: 120px; height: 120px; border-radius: 1000px; border-style: solid; border-color: black"
				>
			</div>
    		<div class="col-9 respondent">
      			<div class = "row" style = "width: 30px">
      				<span style="font-weight:bold; font-size:25px">OrchemKing</span>
      			</div>
      			<div class = "row" style= "padding-left: 50px">
      				Suppose the cronut.jpg image is 400 pixels wide by 200 pixels high. Write...
      			</div>
      			<div class = "row" style = "margin-top: 8px">
      				<div class = "col-4">
      				</div>
      				<button class = "col btn btn-success" style = "border-radius: 50px" data-toggle="modal" data-target="#previewtask" >
      					Preview Task
      				</button>
      				<button class = "col btn btn-success" style = "border-radius: 50px; margin-left: 5px" href = "chat.html">
      					<a href="chat.html" style="text-decoration: none; color:inherit;">Reply</a>
      				</button>
      			</div>
    		</div>
  		</div>
  	</div>
  	<div class="w-100" style="margin-top: 10px; padding: 1px; background-color: #eee;"></div>
  	<div class="container" style = "margin-top: 10px;">
  		<div class ="row">
    		<div class="img-circle col">
      			<img
					src = "static/img/phizwhiz.jpg"
					alt = "chembee"
					style = "width: 120px; height: 120px; border-radius: 1000px; border-style: solid; border-color: black"
				>
			</div>
    		<div class="col-9 respondent">
      			<div class = "row" style = "width: 30px">
      				<span style="font-weight:bold; font-size:25px">PhizWhiz</span>
      			</div>
      			<div class = "row" style= "padding-left: 50px">
      				Suppose a standard RGB digital image is 400 pixels wide by 200 pixels high...
      			</div>
      			<div class = "row" style = "margin-top: 8px">
      				<div class = "col-4">
      				</div>
      				<button class = "col btn btn-success" style = "border-radius: 50px" data-toggle="modal" data-target="#previewtask">
      					Preview Task
      				</button>
      				<button class = "col btn btn-success" style = "border-radius: 50px; margin-left: 5px" href = "chat.html">
      					<a href="chat.html" style="text-decoration: none; color:inherit;">Reply</a>
      				</button>
      			</div>
    		</div>
  		</div>
  	</div>
    <div class = "col">
  <div class="w-100" style="margin-top: 10px; padding: 1px; background-color: #eee;"></div>
  <div class="container" style= "margin-top: 10px">
      <div class ="row">
        <div class="img-circle col">
            <img
          src = "static/img/original.png"
          alt = "chembee"
          style = "width: 120px; height: 120px;  border-radius: 1000px; border-style: solid; border-color: black"
        >
      </div>
        <div class="col-9 respondent">
            <div class = "row" style = "width: 30px">
              <span style="font-weight:bold; font-size:25px">ChemistryBee</span>
            </div>
            <div class = "row" style= "padding-left: 50px">
              Describe three advantages of using tupules instead of other data structu...
            </div>
            <div class = "row" style= "margin-top: 8px">
              <div class = "col-4" style = "padding-top: 5px">
              </div>
              <button class = "col btn btn-success" style = "border-radius: 50px" data-toggle="modal" data-target="#previewtask">
                Preview Task
              </button>
              <button class = "col btn btn-success" style = "border-radius: 50px; margin-left: 5px" href = "chat.html">
                <a href="chat.html" style="text-decoration: none; color:inherit;">Reply</a>
              </button>
            </div>
        </div>
      </div>
    </div>
    <div class="w-100" style="margin-top: 10px; padding: 1px; background-color: #eee;"></div>
    <div class="container" style = "margin-top: 10px">
      <div class ="row" style = "margin-top: 8px">
        <div class="img-circle col">
            <img
          src = "static/img/compgeek.jpg"
          alt = "chembee"
          style = "width: 120px; height: 120px; border-radius: 1000px; border-style: solid; border-color: black"
        >
      </div>
        <div class="col-9 respondent">
            <div class = "row" style = "width: 30px">
              <span style="font-weight:bold; font-size:25px">ComputerGeek</span>
            </div>
            <div class = "row" style= "padding-left: 50px">
              The carrot.jpg image shows an orange carrot with a blue background...
            </div>
            <div class = "row" style = "margin-top: 8px">
              <div class = "col-4">
              </div>
              <button class = "col btn btn-success" style = "border-radius: 50px" data-toggle="modal" data-target="#previewtask">
                Preview Task
              </button>
              <button class = "col btn btn-success" style = "border-radius: 50px; margin-left: 5px" href = "chat.html">
                <a href="chat.html" style="text-decoration: none; color:inherit;">Reply</a>
              </button>
            </div>
        </div>
      </div>
    </div>
    <div class="w-100" style="margin-top: 10px; padding: 1px; background-color: #eee;"></div>
    <div class="container" style = "margin-top: 10px">
      <div class ="row">
        <div class="img-circle col">
            <img
          src = "static/img/orchking.jpg"
          alt = "chembee"
          style = "width: 120px; height: 120px; border-radius: 1000px; border-style: solid; border-color: black"
        >
      </div>
        <div class="col-9 respondent">
            <div class = "row" style = "width: 30px">
              <span style="font-weight:bold; font-size:25px">OrchemKing</span>
            </div>
            <div class = "row" style= "padding-left: 50px">
              Suppose the cronut.jpg image is 400 pixels wide by 200 pixels high. Write...
            </div>
            <div class = "row" style = "margin-top: 8px">
              <div class = "col-4">
              </div>
              <button class = "col btn btn-success" style = "border-radius: 50px" data-toggle="modal" data-target="#previewtask" >
                Preview Task
              </button>
              <button class = "col btn btn-success" style = "border-radius: 50px; margin-left: 5px" href = "chat.html">
                <a href="chat.html" style="text-decoration: none; color:inherit;">Reply</a>
              </button>
            </div>
        </div>
      </div>
    </div>
    <div class="w-100" style="margin-top: 10px; padding: 1px; background-color: #eee;"></div>
    <div class="container" style = "margin-top: 10px; margin-bottom: 20px">
      <div class ="row">
        <div class="img-circle col">
            <img
          src = "static/img/phizwhiz.jpg"
          alt = "chembee"
          style = "width: 120px; height: 120px; border-radius: 1000px; border-style: solid; border-color: black"
        >
      </div>
        <div class="col-9 respondent">
            <div class = "row" style = "width: 30px">
              <span style="font-weight:bold; font-size:25px">PhizWhiz</span>
            </div>
            <div class = "row" style= "padding-left: 50px">
              Suppose a standard RGB digital image is 400 pixels wide by 200 pixels high...
            </div>
            <div class = "row" style = "margin-top: 8px">
              <div class = "col-4">
              </div>
              <button class = "col btn btn-success" style = "border-radius: 50px" data-toggle="modal" data-target="#previewtask">
                Preview Task
              </button>
              <button class = "col btn btn-success" style = "border-radius: 50px; margin-left: 5px" href = "chat.html">
                <a href="chat.html" style="text-decoration: none; color:inherit;">Reply</a>
              </button>
            </div>
        </div>
      </div>
    </div>
  </html>
</body>

<script src="./static/js/inbox.js"></script>
