<!DOCTYPE html>
<head>
	<title>SwiftyQ</title>
	<meta name="apple-mobile-web-app-capable" content="yes" /> <!-- iOS fullscreen webapp -->
	<meta name="mobile-web-app-capable" content="yes" /> <!-- Android Chrome fullscreen webapp -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

  <!-- Importing fonts -->
  <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

  <link rel="stylesheet" href="./static/css/style.css">
  <!-- https://lipis.github.io/bootstrap-social/ -->
  <link rel="stylesheet" href="./static/css/bootstrap-social.css">
  <script src="https://use.fontawesome.com/6384f656d9.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body>
  <html>

	<!-- Your content here -->


    <!-- SwiftyQ title header -->
    <header>
      <div class="title text-center">
        SwiftyQ
      </div>
    </header>

    <!-- Login form -->
    <form class="login" action="/" method="POST">
      <div class="form-group">
        <label for="id">Email address</label>
        <input type="id" name="email" class="form-control form-control-lg title-lg" placeholder="Enter id">
		{% if warning %}
		  <small style="color:red">{{warning}}</small>
		{% endif %}
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control form-control-lg title-lg" placeholder="Password">
      </div>
      <input name="type" value="login" style="display: none;">
      <button type="submit" class="btn btn-outline-success btn-block btn-lg title-lg">Log In</button>
	</form>
	<div class="container">
      <div class="group"><button type="button" class="btn btn-outline-dark btn-block btn-lg title-lg"><a href="signup">Sign up</a></button></div>
      <div class="group title-lg"><div class="form-text text-muted text-center">Forgot your login details? <u class="sign-up-btn">Get help signing in.</u></div></div>

      <div class="row" style="margin-top:150px;">
        <div class="col-5"><hr></div>
        <div class="col-2 title-lg text-center">OR</div>
        <div class="col-5"><hr></div>
      </div>
      <div class="btn btn-block btn-social btn-facebook group" style="padding: 15px 0px; margin-bottom: 30px;">
        <span style="top:12%;"><i class="fa fa-facebook fa-2x" style="top:50%"></i></span><div class="title-lg" style="margin-left: 60px;">Sign in with Facebook</div>
      </div>
      <div class="btn btn-block btn-social btn-google group" style="padding: 15px 0px;">
        <span style="top:12%;"><i class="fa fa-google fa-2x"></i></span><div class="title-lg" style="margin-left: 60px;">Sign in with Google</div >
      </div>

    </div>

  </html>
  <script src="./static/js/index.js"></script>

</body>
