<!DOCTYPE html>
<head>
	<title>SwiftyQ</title>
	<meta name="apple-mobile-web-app-capable" content="yes" /> <!-- iOS fullscreen webapp -->
	<meta name="mobile-web-app-capable" content="yes" /> <!-- Android Chrome fullscreen webapp -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

  <!-- Importing fonts -->
  <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

  <link rel="stylesheet" href="./static/css/style.css">
  <!-- https://lipis.github.io/bootstrap-social/ -->
  <link rel="stylesheet" href="./static/css/bootstrap-social.css">
  <script src="https://use.fontawesome.com/6384f656d9.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>

</head>

<body>
  <html>

	<!-- Your content here -->
    <!-- SwiftyQ title header -->
    <header>
      <div class="title text-center" style="padding-top:100px !important;">
        <a href="index.html" style="text-decoration: inherit; color: inherit;">SwiftyQ</a>
      </div>
    </header>
    <!-- Login form -->
    <form class="signup" action="/" method="POST">
      <div class="form-group">
        <label>Email address</label>
        <input type="email" name='email' class="form-control form-control-lg title-lg" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div style="font-size: 60%; color:red;">{{warning}}</div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name='password1' class="form-control form-control-lg title-lg" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword2">Confirm Password</label>
        <input type="password" name='password2' class="form-control form-control-lg title-lg" placeholder="Re-enter password">
      </div>
       <div class="form-group">
        <label for="Name">Username</label>
        <input type="name" name='name' class="form-control form-control-lg title-lg" placeholder="Username">
      </div>
      <input name="type" value="signup" style="display: none;">
       <div class="form-group">
        <label for="expertise">Expertise</label>
        <input type="expertise" name='expertise' class="form-control form-control-lg title-lg" placeholder="Please select from below" readonly>
      </div>
      <div class="text-center" style="font-size: 60%;">Sorry, we only test Programming experts at the moment.</div>
      <div class="dropdown">
        <button class="btn btn-block btn-lg title-lg btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Choose your expertise
        </button>
        <div class="dropdown-menu full-width" aria-labelledby="dropdownMenuButton" style="font-size: 1.75rem">
          <a class="dropdown-item on-hover" href="#">Programming</a>
          <a class="dropdown-item on-hover" href="#">Calculus</a>
          <a class="dropdown-item on-hover" href="#">Physics</a>
        </div>
      </div>
      <div class="group"><button type="button" class="fstbtn btn btn-success btn-block btn-lg title-lg">Sign up</button></div>

    </form>

  </html>
  <!--  initial modal for user agreement -->
  <div class="modal fade top-30" id="modal1">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-content-pad">
        <div class="modal-header">
          <div class="modal-title" style="font-size: 40px !important;"><strong>Can we test you?</strong></div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body title-lg">
          <p>Let SwiftyQ verify your expertise in "Programming". This means that we will ask you three questions on Python3.</p>
        </div>
        <div class="modal-footer text-center ">
          <button type="button" class="btn btn-primary title-lg" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Proceed</button>
          <button type="button" class="btn btn-secondary title-lg" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 1st quality control -->
  <div class="modal fade top-30" id="modal2">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-content-pad">
        <div class="modal-header">
          <div class="modal-title" style="font-size: 40px !important;"><strong>Test 1</strong></div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body title-lg">
          <p>What is the result of 2*3.0 in Python3?</p>
          <input type="text" name='fstmodal' placeholder="Answer here">
        </div>
        <div class="modal-footer text-center ">
          <button type="button" class="btn btn-primary title-lg fst-modal-btn">Next</button>
          <button type="button" class="btn btn-secondary title-lg" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 2nd quality control -->
  <div class="modal fade top-30" id="modal3">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-content-pad">
        <div class="modal-header">
          <div class="modal-title" style="font-size: 40px !important;"><strong>Test 2</strong></div>
          <button type="button" class="close" data-dismiss="#modal3" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body title-lg">
          <p>Is tuple mutable in Python3?</p>
          <input type="text" name='sndmodal' placeholder="Answer here">
        </div>
        <div class="modal-footer text-center ">
          <button type="button" class="btn btn-primary title-lg snd-modal-btn">Next</button>
          <button type="button" class="btn btn-secondary title-lg" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 3rd quality control -->
  <div class="modal fade top-30" id="modal4">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-content-pad">
        <div class="modal-header">
          <div class="modal-title" style="font-size: 40px !important;"><strong>Test 3</strong></div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body title-lg">
          <p>What is the result of the following in Python2?<br>a = 0<br>for i in range(3):<br>&nbsp; &nbsp; &nbsp; &nbsp; a+=1<br>&nbsp; &nbsp; &nbsp; &nbsp; print a,</p>
          <input type="text" name='trdmodal' placeholder="Answer here">
        </div>
        <div class="modal-footer text-center ">
          <button type="button" class="btn btn-primary title-lg trd-modal-btn">Next</button>
          <button type="button" class="btn btn-secondary title-lg" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!--  Success-->
  <div class="modal fade top-30" id="modal5">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-content-pad">
        <div class="modal-header">
          <div class="modal-title" style="font-size: 40px !important;"><strong>Congratulations</strong></div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body title-lg">
          <p>You have successfully passed our test. You are now officially an expert of "Programming"</p>
        </div>
        <div class="modal-footer text-center ">
          <div type="button" id="verylastbtn" class="btn btn-success title-lg" style="text-decoration: inherit; color: inherit;" data-dismiss="modal">Close</div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade top-30" id="modal6">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-content-pad">
        <div class="modal-header">
          <div class="modal-title" style="font-size: 40px !important;"><strong>Sorry</strong></div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body title-lg">
          <p>Sorry, you failed our test.</p>
        </div>
        <div class="modal-footer text-center ">
          <div type="button" id="failbutton" class="btn btn-success title-lg" style="text-decoration: inherit; color: inherit;" data-dismiss="modal">Close</div>
        </div>
      </div>
    </div>
  </div>
  <script src="./static/js/index.js"></script>

</body>
